OPENAI_API_BASE_URL= # e.x. https://ai.hpoc.nutanix.com/enterpriseai/gateway/v1
OPENAI_API_KEY= # e.x. 0fa327ac-f409-4641-9699-a9be783a38ee
ANTHROPIC_API_KEY= # e.x. 0fa327ac-f409-4641-9699-a9be783a38ee