# OPENAI_API_BASE_URL= # e.x. https://nai-dev.hpoc.nutanix.com/enterpriseai/gateway/v1
# OPENAI_API_KEY= # e.x. 0fa327ac-f409-4641-9699-a9be783a38ee
# ANTHROPIC_API_KEY= # e.x. 0fa327ac-f409-4641-9699-a9be783a38ee
# MCP_CONNECTOR_NAME= # e.x. mcp-connector-name
# MCP_API_KEY= # e.x. 0fa327ac-f409-4641-9699-a9be783a38ee